@model ExpenseTracker.Models.Expense
@{
    ViewBag.Title = "Test";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Your bill</h2>
<p>Name: @Model.Name</p>
<p>Value: @Model.Value</p>
@*<p>DueDate: @Model.DueDateInfo.DueDate</p>
<p>Penalty: @Model.DueDateInfo.Penalty</p>*@


